@import url('https://fonts.googleapis.com/css2?family=DM+Mono');

* {
  font-family: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-color: #172774;
  --text-color: #eeeeee;
  --primary-color: #ff0075;
  --secondary-color: #77d970;
}

body {
  font-family: 'DM Mono', 'Courier New', Courier, monospace;
  background-color: var(--base-color);
  color: var(--text-color);
  width: 960px;
  max-width: 90%;
  margin: 20px auto;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.scoreboard h3:nth-child(2) {
  color: var(--secondary-color);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 20px;
}

.card {
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--primary-color);
  text-align: center;
  padding: 40px 0;
}

.card:hover {
  background-color: var(--secondary-color);
  color: var(--base-color);
  cursor: pointer;
}
